.top{
    position: relative;
}
.iitklogo{
    position:absolute;
    margin-left:23px;
    
}
.gymkhana{
    position:absolute;
    margin-left: 84%;
    margin-top: -11%;
    
}
.heading{
    text-align: center;
}
.checkbox{
    position: absolute;
    margin-top:5%;
    margin-left: 78%;
    font-size:large;
}
table,td {
    border: 1px solid black;
    border-collapse: collapse;
  }
.table1{
    position: absolute;
   margin-top: 9%;
   margin-left: 25%;
   
}
td{
    padding:2px;
    
}
.table2{
    position: absolute;
    margin-top: 20%;
    margin-left: 25%;
}
#total{
    width: 119px;
}
.size{
    width: 156px;
}
.para{
    position: absolute;
    margin-top: 35%;
    margin-left: 20%;
    text-align: center;
}
#headline{
    text-align: left;
}
.table3{
    position: absolute;
    margin-top: 48%;
    margin-left: 18%;
}
.table4{
    position: absolute;
    margin-top: 54%;
    margin-left: 26%;
}
.table5{
    position: absolute;
    margin-top: 59%;
    margin-left: 35%;
}
#headline2{
    position: absolute;
   margin-left: 35%;
    margin-top: 52%;

}
#submit{
    position: absolute;
   margin-left: 45%;
    margin-top: 63%;

}